.Navbar{
    height: 50px;
    background-color: #068f6d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavbarTitle{
    font-weight: bolder;
    font-size: larger;
}

@media only screen and (max-width:600px){
    .Navbar{
        width: 100%;
    }
    
}